@using System.Web.Mvc.Html
@using I18N.Address
@using I18NDotNet.Address.Mvc
@model AddressModel
@{
	var addressLineCount = 0;

	// Override the default prefix, if it is set in the ViewBag (typically form reloads)
	ViewData.TemplateInfo.HtmlFieldPrefix = string.IsNullOrEmpty(ViewBag.HtmlFieldPrefix)
		? ViewData.TemplateInfo.HtmlFieldPrefix
		: ViewBag.HtmlFieldPrefix;
}
<div class="address" data-prefix="@ViewData.TemplateInfo.HtmlFieldPrefix">
	@foreach (var field in Model.Fields)
	{
		if (field.Field == AddressFieldKey.Language)
		{
			@Html.InputFor(field)
		}
		else
		{ 
			<div class="row">
				<div class="input-field col s12">
					@Html.InputFor(field)
					@Html.LabelFor(field)
				</div>
			</div>
		}
	}
</div>